<!DOCTYPE html>
{% autoescape true %}
<html>
    <head>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<link rel="stylesheet" href="/css/main.css">
		<script>
			$(function() {
				$('.auction-land').hover(
					function () {$('.' + this.dataset.land).addClass('highlight')},
					function () {$('.' + this.dataset.land).removeClass('highlight')}
				);
			});
		</script>
	</head>
	<body>
		<table class="board">
			{% for row in board.rows %}
			<tr>
				{% for field in row %}
				<!--td style="background-color: {{ field.land.color }}"-->
				<td class="{{ field.classes() }}">{{ field.index }}</td>
				{% endfor %}
			</tr>
			{% endfor %}
		</table>

		<form class="auction" method="POST">
			<h3>Current Auction</h3>
			{% for land in auction %}
			<div class="auction-land" data-land="{{ land.id }}">
				{{ loop.index }}: {{ land | land }}
				{% if player %}
					<input name="bid" value="{{ player.bids[loop.index0] or 0 }}">
				{% endif %}
			</div>
			{% endfor %}
			{% if player %}
				<button>Place Bids</button>
			{% endif %}
		</form>

		<div class="auction" method="POST">
			<h3>Upcoming Auction</h3>
			{% for land in upcoming_auction %}
			<div class="auction-land" data-land="{{ land.id }}">
				{{ loop.index }}: {{ land.fields }}
			</div>
			{% endfor %}
		</div>

		{% if last_auction %}
		<div class="player_info">
			<h3>Auction Results</h3>
			{% for a in last_auction %}
			<div class="auction-land" data-land="{{ a.land.id }}">
				{{ a.player | player }} bought {{ a.land | land }} for {{ a.price }}
			</div>
			{% endfor %}
		</div>
		{% endif %}

		{% if not player %}
		<div class="player_info">
			<h3>Join Game:</h3>
			<form action="new_player" method="POST">
				Player Name: <input name="name">
				<br>
				<button>Join</button>
			</form>
		</div>
		{% endif %}

		{% if players %}
		<div class="player_info">
			<h3>Overview</h3>
			<table>
				<tr>
					<th></th>
					<th>Player</th>
					<th>Power</th>
					<th>Money</th>
					<th>Last Payout</th>
				</tr>
				{% for p in players %}
				<tr {% if p == player %}class="active_player"{% endif %}>
					<td>{% if p.bids %}✓{% endif %}</td>
					<td class="background-p{{ p.player_number }}">{{ p.name }}</td>
					<td>{{ p.connected_lands }}</td>
					<td>{{ p.money | money }}</td>
					<td>{{ p.payout }}</td>
				</tr>
				{% endfor %}
			</table>
		</div>
		{% endif %}

	</body>
</html>
{% endautoescape %}
