body {
    padding: 15px 0;
}
#main-container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    .board {
        height: 80vmin;
        max-height: 600px;
    }
}
.board {
    margin-bottom: 15px;
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    font-family: sans-serif;
}
.board td {
    height: 8vh;
    border: 0 solid black;
    text-align: center;
    vertical-align: middle;
    line-height: 90%;
}
.board .top_border {
    border-top-width: 3px;
}
.board .bottom_border {
    border-bottom-width: 3px;
}
.board .left_border {
    border-left-width: 3px;
}
.board .right_border {
    border-right-width: 3px;
}
td.highlight {
    -webkit-text-stroke: 1px blue;
}
.sold {
    font-size: max(1.0vh, 40%);
    white-space: nowrap;
}
.active_player {
    background-color: lightgray;
}
.in_this_auction {
    font-size: 4vh;
}
.in_last_auction {
    font-size: 2vh;
}
.in_next_auction {
    color: gray;
}

form.auction {
    display: flex;
    gap: 0.5em;
    justify-content: space-between;
}
form.auction input, button {
}
form.auction input {
    width: 3em;
    flex-grow: 1;
}
#bids-saved {
    float: right;
    color: green;
}

.free-land-1 { background-color: #FFFFFF; }
.free-land-2 { background-color: #EEEEEE; }
.free-land-3 { background-color: #DDDDDD; }
.free-land-4 { background-color: #CCCCCC; }
.free-land-5 { background-color: #BBBBBB; }

/* color palette from http://www.mulinblog.com/a-color-palette-optimized-for-data-visualization/ */
.background-p1  { background-color: #f15854; }
.background-p2  { background-color: #5da5da; }
.background-p3  { background-color: #faa43a; }
.background-p4  { background-color: #60bd68; }
.background-p5  { background-color: #f17cb0; }
.background-p6  { background-color: #b2912f; }
.background-p7  { background-color: #b276b2; }
.background-p8  { background-color: #decf3f; }
.background-p9  { background-color: #5f5f5f; }
.background-p10 { background-color: #b18080; }

/* Hide spinner in number entry field, see https://stackoverflow.com/a/4298216/114926 */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}
