{% extends 'page.html' %}

{% block main %}
	<div class="jumbotron">
		<h1>Claim the land!</h1>
		<p class="lead">Or your opponents will claim it! Just win the land auctions and earn money back by building a powerful territory of connected fields. In the end, the most wealthy player wins.</p>
		<p><a class="btn btn-lg btn-success" href="/quick_ai_game" role="button">Test Game against AI</a></p>
		<p><a class="btn btn-lg btn-success" href="/new_game" role="button">Start a new Game</a></p>
	</div>

	<div class="row screenshots">
		<div class="col-sm-6">
			<img src="static/img/screenshot.png" class="img-rounded">
		</div>
		<div class="col-sm-6">
			<img src="static/img/screenshot2.png" class="img-rounded">
		</div>
	</div>

	<div class="row marketing">
		<div class="col-sm-6">
			<h4>Get started right away</h4>
			<p>The rules are simple and you don't have to register. Just start playing.</p>

			<h4>Play with your friends</h4>
			<p>Send a link to your friends and they can join easily.</p>
		</div>

		<div class="col-sm-6">
			<h4>Don't waste your time</h4>
			<p>Spend just a few minutes every now and then. This game won't steal you free time with boring micro management.</p>

			<h4>Focus on the fun part</h4>
			<p>Concentrate on the exciting auctions. Nothing else will grab your attention.</p>
		</div>
	</div>
{% endblock %}
