{% extends 'base.html' %}

{% block head %}
	<script src="/js/moment.min.js"></script>
	<script type="text/javascript" src="/_ah/channel/jsapi"></script>
	<script>
		var turn = {{ game.turn }};

		$(function() {
			var auction_inputs = $('.auction-land input');
			auction_inputs.focus(function () {$('.' + this.dataset.land).addClass('highlight')});
			auction_inputs.blur(function () {$('.' + this.dataset.land).removeClass('highlight')});

			$('td[data-land]').click(function() { $('input[data-land=' + this.dataset.land + ']').focus(); });

			var channel_token = '{{ channel_token }}';
			if (channel_token) {
				channel = new goog.appengine.Channel(channel_token);
				socket = channel.open();
				//socket.onopen = onOpened;
				socket.onmessage = function (message) {
					message = $.parseJSON(message.data);
					console.log(message);
					if (message.turn > turn) {
						document.location.reload(true);
					} else {
						$.each(message.finished_players, function(i, player_id) {
							$('[data-player_id=' + player_id + '] .finished').html('✓');
						});
					}
				};
				//socket.onerror = onError;
				//socket.onclose = onClose;
			}

			{% if game.next_auction_time %}
				function update_auction_end() {
					var next_auction = moment.utc('{{ game.next_auction_time.isoformat() }}').fromNow();
					$('#time').html(next_auction);
				}

				update_auction_end();
				setTimeout(function(){
					update_auction_end();
				}, 5000);
			{% endif %}
		});
	</script>
{% endblock %}

{% block body %}
	<div class="container-fluid" id="main-container">

		<!-- flashed messages -->
		{% set messages = handler.session.get_flashes() %}
		{% if messages %}
			<div class="flashes">
				{% for message, category in messages %}
				<div class="alert alert-{{ category.replace('error', 'danger').replace('message', 'info') }} alert-dismissible">
					<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span>
					<span class="sr-only">Close</span></button>

					{{ message }}
				</div>
				{% endfor %}
			</div>
		{% endif %}

		<div class="row">
			<div class="col-sm-8">
				<table class="board ">
					{% for row in board.rows %}
					<tr>
						{% for field in row %}
						<!--td style="background-color: {{ field.land.color }}"-->
							{% if field.land in auction %}
								<td class="{{ field.classes() }} in_this_auction" data-land="{{field.land.id}}">
								{{ auction.index(field.land) + 1 }}
								</td>
							{% elif field.land in upcoming_auction %}
								<td class="{{ field.classes() }} in_next_auction">
								{{ upcoming_auction.index(field.land) + len(auction) +1 }}
								</td>
							{% elif field.land in last_auction %}
								<td class="{{ field.classes() }} in_last_auction">
									<span style="font-size: 60%">sold for</span><br/>
									{{ field.land.price | money }}
								</td>
							{% else %}
								<td class="{{ field.classes() }}">
								</td>
							{% endif %}
						{% endfor %}
					</tr>
					{% endfor %}
				</table>
			</div>

			<div class="col-sm-4">
				{% if player and game.status in ('new', 'in_progress') %}
				<div class="panel panel-default">
					<div class="panel-heading">Current Auction</div>
					<div class="panel-body">
						<form class="form-horizontal" method="POST">
							{% for land in auction %}
							<div class="form-group auction-land">
								<label class="col-xs-2 control-label">{{ loop.index }}</label>
								<div class="col-xs-10">
									<input type="number" data-land="{{ land.id }}"
										{% if loop.index0 == 0 %}autofocus{% endif %}
										required min="0" max="{{player.money}}"
										class="form-control input-sm"
										name="bid" value="{{ player.bids[loop.index0] | money }}">
								</div>
							</div>
							{% endfor %}
							<div class="form-group">
								<div class="col-xs-offset-2 col-xs-10">
									<button type="submit" class="btn btn-primary">Place Bids</button>
								</div>
							</div>
						</form>
					</div>
				</div>
				{% endif %}

				{% if not player %}
				<div class="player_info">
					{% if game.status == 'new' %}
						<h3>Join Game:</h3>
						<form action="new_player" method="POST">
							Player Name: <input name="name">
							<br>
							<button class="btn btn-primary">Join</button>
						</form>
					{% else %}
						<div class="well">
							The game is already in progress, so no new players are allowed.
						</div>
					{% endif %}
				</div>
				{% endif %}

				{% if players %}
				<div class="panel panel-default">
					<div class="panel-heading">Overview</div>
					<table class="table">
						<tr>
							<th></th>
							<th>Player</th>
							<th>Power</th>
							<th>Money</th>
							<th>Last Payout</th>
						</tr>
						{% for p in players %}
						<tr data-player_id="{{ p.id }}" {% if p == player %}class="active_player"{% endif %}>
							<td class="finished">
								{%- if p.ai%}AI
								{%- elif p.bids %}✓
								{%- endif -%}
							</td>
							<td class="background-p{{ p.player_number }}">{{ p.name }}</td>
							<td>{{ p.connected_lands }}, {{ p.lands | length }}</td>
							<td>{{ p.money | money }}</td>
							<td>{{ p.payout | money }}</td>
						</tr>
						{% endfor %}
					</table>
					{% if game.next_auction_time %}
					<div class="panel-footer">
						Auction ends <span id="time"></span><br>
						Total remaining payout: {{ game.remaining_payout | money }} 
					</div>
					{% endif %}
				</div>
				{% endif %}

				{% if game.status == 'new' and player.player_number == 1 %}
				<div class="panel panel-default">
					<div class="panel-heading">Start Game</div>
					<div class="panel-body">
						<p>
							Since you are the first player who joined this game, you can force the game to start immediately. The remaining {{ game.number_of_players - (players | length) }} player slots will be filled with AI players.
						</p>
						<form action="{{ player.id }}/start" method="POST">
							<button type="submit" class="btn">Start Game Now</button>
						</form>
					</div>
				</div>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
