{% extends 'base.html' %}

{% block title -%}
	{{ super() }}: {{ game.name }}
{%- endblock %}

{% block head %}
	<script src="/js/moment.min.js"></script>
	<script type="text/javascript" src="/_ah/channel/jsapi"></script>
	<script>
		var turn = {{ game.turn }};

		$(function() {
			var auction_inputs = $('.auction-land input');
			auction_inputs.focus(function () {$('.' + this.dataset.land).addClass('highlight')});
			auction_inputs.blur(function () {$('.' + this.dataset.land).removeClass('highlight')});

			$('td[data-land]').click(function() { $('input[data-land=' + this.dataset.land + ']').focus(); });

			var channel_token = '{{ channel_token }}';
			if (channel_token) {
				channel = new goog.appengine.Channel(channel_token);
				socket = channel.open();
				//socket.onopen = onOpened;
				socket.onmessage = function (message) {
					message = $.parseJSON(message.data);
					console.log(message);
					if (message.turn > turn) {
						document.location.reload(true);
					} else {
						$.each(message.finished_players, function(i, player_id) {
							$('[data-player_id=' + player_id + '] .finished').html('✓');
						});
					}
				};
				//socket.onerror = onError;
				//socket.onclose = onClose;
			}

			{% if game.next_auction_time %}
				function update_auction_end() {
					var next_auction = moment.utc('{{ game.next_auction_time.isoformat() }}').fromNow();
					$('#time').html(next_auction);
				}

				update_auction_end();
				setTimeout(function(){
					update_auction_end();
				}, 5000);
			{% endif %}

			// Focus first auction if visible
			// Used instead of the autofocus attribute to avoid scrolling down on small devices
			var screen_width = Math.max(document.documentElement.clientWidth, window.innerWidth || 0);
			if (screen_width >= 800) {
				$('#first-auction').focus();
			}
		});
	</script>
{% endblock %}

{% block body %}
	<div class="container-fluid" id="main-container">

		<!-- flashed messages -->
		{% set messages = handler.session.get_flashes() %}
		{% if messages %}
			<div class="flashes">
				{% for message, category in messages %}
				<div class="alert alert-{{ category.replace('error', 'danger').replace('message', 'info') }} alert-dismissible">
					<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span>
					<span class="sr-only">Close</span></button>

					{{ message }}
				</div>
				{% endfor %}
			</div>
		{% endif %}

		<div class="row">
			<div class="col-sm-8">
				<table class="board ">
					{% for row in board.rows %}
					<tr>
						{% for field in row %}
						<!--td style="background-color: {{ field.land.color }}"-->
							{% if field.land in auction %}
								<td class="{{ field.classes() }} in_this_auction" data-land="{{field.land.id}}">
								{{ auction.index(field.land) + 1 }}
								</td>
							{% elif field.land in upcoming_auction %}
								<td class="{{ field.classes() }} in_next_auction">
								{{ upcoming_auction.index(field.land) + len(auction) +1 }}
								</td>
							{% elif field.land in last_auction %}
								<td class="{{ field.classes() }} in_last_auction">
									<span style="font-size: 60%">sold for</span><br/>
									{{ field.land.price | money }}
								</td>
							{% else %}
								<td class="{{ field.classes() }}">
								</td>
							{% endif %}
						{% endfor %}
					</tr>
					{% endfor %}
				</table>
			</div>

			<div class="col-sm-4">
				{% if player and game.status in ('new', 'in_progress') %}
				<div class="panel panel-default">
					<div class="panel-heading">Auction {{ game.turn + 1 }} of {{ game.turn + game.remaining_turns }}</div>
					<div class="panel-body">
						<form class="form-horizontal" method="POST">
							{% for land in auction %}
							<div class="form-group auction-land">
								<label class="col-xs-2 control-label">{{ loop.index }}</label>
								<div class="col-xs-10">
									<input type="number" data-land="{{ land.id }}"
										{% if loop.index0 == 0 %}id="first-auction"{% endif %}
										required min="0" max="{{player.money}}"
										class="form-control input-sm"
										name="bid" value="{{ player.bids[loop.index0] | money }}">
								</div>
							</div>
							{% endfor %}
							<div class="form-group">
								<div class="col-xs-offset-2 col-xs-10">
									<button type="submit" class="btn btn-primary">{{ 'Update' if player.bids else 'Place' }} Bids</button>
								</div>
							</div>
						</form>
					</div>
				</div>
				{% endif %}

				{% if not player %}
				<div class="player_info">
					{% if game.status == 'new' %}
						<div class="panel panel-default">
							<div class="panel-heading">Join Game</div>
							<div class="panel-body">
								<p>
									The game has not started, yet. Just enter your name and join the fun!
								</p>
								<form action="new_player" method="POST" class="form-inline">
									<div class="form-group">
										<label>Name</label>
										<input class="form-control input-sm" name="name">
										<button class="btn btn-primary">Join</button>
									</div>
								</form>
							</div>
						</div>
					{% else %}
						<div class="well">
							The game is already in progress, so no new players are allowed.
						</div>
					{% endif %}
				</div>
				{% endif %}

				{% if game.turn == 0 %}
					<div class="panel panel-default">
						<div class="panel-heading">Rules</div>
						<div class="panel-body">
							<p>
							Each turn, {{ game.new_money }} will be distributed among the players. The player with the highest number of connected regions gets {{ game.payouts[0] }}, the next players get {{ game.payouts[1:] | join(', ') }}. When all regions are sold, a final payout of {{ game.final_payout }} will be distributed.
							</p>
						</div>
					</div>
				{% endif %}

				{% if players %}
				<div class="panel panel-default">
					<div class="panel-heading">Overview</div>
					<table class="table">
						<tr>
							<th></th>
							<th>Player</th>
							<th>Power</th>
							<th>Money</th>
							<th>Last Payout</th>
						</tr>
						{% for p in players %}
						<tr data-player_id="{{ p.id }}" {% if p == player %}class="active_player"{% endif %}>
							<td class="finished">
								{%- if game.status == 'finished' %}{{ loop.index }}.
								{%- elif p.quit %}&mdash;
								{%- elif p.ai %}AI
								{%- elif p.bids %}✓
								{%- endif -%}
							</td>
							<td class="background-p{{ p.player_number }}">
								{%- if p.quit %}<s>{{ p.name }}</s>
								{%- else %}{{ p.name }}{% endif -%}
							</td>
							<td>{{ p.connected_lands }}, {{ p.lands | length }}</td>
							<td>{{ p.money | money }}</td>
							<td>{{ p.payout | money }}</td>
						</tr>
						{% endfor %}
					</table>
					{% if game.remaining_turns == 0 %}
					<div class="panel-footer">
						{{ (players | sort(attribute='money', reverse=True) | first).name }} has won the game!
					</div>
					{% elif game.status == 'new' %}
					<div class="panel-footer">
						Waiting for {{ game.number_of_players - (game.players | length) }} more players to join.
						<a href="mailto:?subject=Join my Land Rush game!&body=I'm playing a game of Land Rush and you can join me at%0D{{ game.url() }}%0D%0DLand Rush is a simple auction based game. If you'd like to find out more about it, go to%0D{{ index_url }}">Invite players</a>.
					</div>
					{% elif game.next_auction_time %}
					<div class="panel-footer">
						Auction ends <span id="time"></span>.<br>
						Total remaining payout: {{ game.remaining_payout | money }} 
					</div>
					{% endif %}
				</div>
				{% endif %}

				{% if game.status == 'new' and player.player_number == 1 %}
				<div class="panel panel-default">
					<div class="panel-heading">Start Game</div>
					<div class="panel-body">
						<p>
							Since you are the first player who joined this game, you can force the game to start immediately. The remaining {{ game.number_of_players - (players | length) }} player slots will be filled with AI players.
						</p>
						<form action="{{ player.secret }}/start" method="POST">
							<button type="submit" class="btn">Start Game Now</button>
						</form>
					</div>
				</div>
				{% endif %}

				{% if player %}
				<div class="panel panel-default">
					<div class="panel-heading">Notifications</div>
					<div class="panel-body">
						<p>
						</p>
						<form action="{{ player.secret }}/notifications" method="POST" class="form-horizontal">
							<div class="form-group">
								<label class="col-xs-3 control-label">E-Mail</label>
								<div class="col-xs-9">
									<input type="email" required class="form-control input-sm" name="email" value="{{ player.email }}">
								</div>
							</div>
							<div class="form-group">
								<label class="col-xs-3 control-label">When</label>
								<div class="col-xs-9">
									<select name="when" class="form-control">
										{% for value, label in [('turn', 'after each turn'), ('off', 'never')] %}
										<option {{ 'selected' if player.notify == value }} value="{{ value }}">{{ label }}</option>
										{% endfor %}
									</select>
								</div>
							</div>
							<button type="submit" class="btn">Save</button>
						</form>
					</div>
				</div>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
