{% extends 'base.html' %}

{% block head %}
		<style>
			/* Space out content a bit */
			body {
				padding-top: 20px;
				padding-bottom: 20px;
			}

			/* Everything but the jumbotron gets side spacing for mobile first views */
			.header,
			.marketing,
			.footer {
				padding-right: 15px;
				padding-left: 15px;
			}

			/* Custom page header */
			.header {
				border-bottom: 1px solid #e5e5e5;
			}
			/* Make the masthead heading the same height as the navigation */
			.header h3 {
				padding-bottom: 19px;
				margin-top: 0;
				margin-bottom: 0;
				line-height: 40px;
			}

			/* Custom page footer */
			.footer {
				padding-top: 19px;
				color: #777;
				border-top: 1px solid #e5e5e5;
			}

			/* Customize container */
			@media (min-width: 768px) {
				.container {
					max-width: 730px;
				}
			}
			.container-narrow > hr {
				margin: 30px 0;
			}

			/* Main marketing message and sign up button */
			.jumbotron {
				text-align: center;
				border-bottom: 1px solid #e5e5e5;
			}
			.jumbotron .btn {
				padding: 14px 24px;
				font-size: 21px;
			}

			/* Supporting marketing content */
			.marketing {
				margin: 40px 0;
			}
			.marketing p + h4 {
				margin-top: 28px;
			}

			/* Responsive: Portrait tablets and up */
			@media screen and (min-width: 768px) {
				/* Remove the padding we set earlier */
				.header,
				.marketing,
				.footer {
					padding-right: 0;
					padding-left: 0;
				}
				/* Space out the masthead */
				.header {
					margin-bottom: 30px;
				}
				/* Remove the bottom border on the jumbotron for visual effect */
				.jumbotron {
					border-bottom: 0;
				}
			}

			.screenshots img {
				width: 100%;
				margin-bottom: 10px;
				box-shadow: 0px 0px 10px #888888;
			}
		</style>
{% endblock  %}

{% block main %}
	<div class="container">
		<div class="header">
			<ul class="nav nav-pills pull-right">
				<li class="active"><a href="#">Home</a></li>
				<li><a href="#">New Game</a></li>
				<li><a href="karl42@gmail.com">Contact</a></li>
			</ul>
			<h3 class="text-muted">Land Rush</h3>
		</div>

		<div class="jumbotron">
			<h1>Claim the land!</h1>
			<p class="lead">Or your opponents will claim it! Just win the land auctions and earn money back by building a powerful territory of connected fields. In the end, the most wealthy player wins.</p>
			<p><a class="btn btn-lg btn-success" href="#" role="button">Start a new Game</a></p>
		</div>

		<div class="row screenshots">
			<div class="col-sm-6">
				<img src="img/screenshot.png" class="img-rounded">
			</div>
			<div class="col-sm-6">
				<img src="img/screenshot2.png" class="img-rounded">
			</div>
		</div>

		<div class="row marketing">
			<div class="col-sm-6">
				<h4>Get started right away</h4>
				<p>The rules are simple and you don't have to register. Just start playing.</p>

				<h4>Play with your friends</h4>
				<p>Send a link to your friends where they can join easily.</p>
			</div>

			<div class="col-sm-6">
				<h4>Don't waste your time</h4>
				<p>Spend just a few minutes every now and then. This game won't steal you free time with boring micro management.</p>

				<h4>Focus on the fun part</h4>
				<p>Concentrate on the exciting auctions. Nothing else will grab your attention.</p>
			</div>
		</div>

		<div class="footer">
			<p>by <a href="http://www.karl.berlin">Karl Bartel</a>, email: <a href="mailto:karl42@gmail.com">karl42@gmail.com<a></p>
		</div>

	</div> <!-- /container -->
{% endblock %}
